.groupCard{
    margin-bottom: 10px;
    list-style: none;
}


.title{
    background-color: gray;
    max-width: 47px;
    border-radius: 40%;
}

.groupsGrid {
    list-style: none;        
    padding: 0;              
    margin: 0;               
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem; */
}
  